.idea
.idea/*
.idea/**
db.sqlite3
pool/migrations
pool/migrations/*
pool/__pycache__
pool/__pycache__/*
superpool/__pycache__
superpool/__pycache__/*
accounts/__pycache__
accounts/__pycache__/*
accounts/__pycache__/**
core/__pycache__
groups/__pycache__
*__pycache__*
*.pyo
*.pyc
scripts/zomato-india-data-set
scripts/zomato-india-data-set.zip
scripts/sec-edgar-companies-list/sec__edgar_company_info.csv
scripts/sec-edgar-companies-list.zip
scripts/sec-edgar-companies-list/database.sqlite
server/*
server/**