<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
<style>
body {
  background-color: linen;
  margin: 10px;
}
hr {
    display: block;
    width: 400px;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.row {
}

.left {
   display: inline-block;
   text-align: right;
   width: 100px;
   padding: 10px;
}


.right {
   display: inline-block;
   padding: 10px;
}

</style>
</head>
<body>

{% block content %}
    <h2>New post</h2>
    <form method="POST">{% csrf_token %}
        <table border="1">
        {{ form}}
        <button type="submit" class="save btn btn-default">Save</button>
        </table>
    </form>
{% endblock %}

</body>

</html>