{% extends 'base.html' %}

{% load static %}

{% block content %}
<head>

</head>
<body id="body-class">
<script>
function alertFunc() {
  alert("Page is loaded");
}
</script>
        <div class="gap gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" id="page-contents">
                            {% include 'includes/sidebar.html' %}
                            <div class="col-lg-6">
                                <div class="central-meta">


                                    <div class="frnds">
                                        <ul class="nav nav-tabs">
                                            {#                                            <h5 class="f-title"><i class="ti-user"></i>Group Info </h5>#}
                                            <li class="nav-item"><a class="active" href="#frends" data-toggle="tab">Group Info</a></li>
                                        </ul>

                                         <div id="chats"></div>

                                        <div id="list" class="tab-content">
                                            <div class="tab-pane active fade show ">
                                                <ul class="nearby-contct"  id="service_list">



                                                    {#                                                        INSERT HERE#}

                                                   <li class="service-link" data-service-id="{{ service.id }}">
                                                        <div class='nearly-pepls'>
                                                            <div class="pepl-info">
                                                                <a href="#" title=\"\">{{ object.name }}</a>
                                                                <p><h5>Created by {{ object.admin }}</h5></p>
                                                            </div>
                                                        </div>
                                                   </li>

                                                    <li class="service-link" data-service-id="{{ service.id }}">
                                                        <div class='nearly-pepls'>
                                                            <div class="pepl-info">
                                                                <a href="#" title=\"\">Description:</a>
                                                                <p><h5>{{ object.description }}</h5></p>
                                                            </div>
                                                        </div>
                                                   </li>

                                                    <li class="service-link" data-service-id="{{ service.id }}">
                                                        <div class='nearly-pepls'>
                                                            <div class="pepl-info">
                                                                <a href="#" title=\"\">Joining URL:</a>
                                                                <p><h5>{{ join_url }}</h5></p>
                                                            </div>
                                                        </div>
                                                   </li>

                                                    <li id="checkbox" data-service-id="{{ service.id }}">
                                                        <div class='nearly-pepls'>
                                                            <div class="pepl-info">
                                                        <label >Participants:</label>
                                                        <ul>
                                                        {% for member in group.members.all %}
                                        <!--                <li>-->
                                                            <li ><input type="checkbox" id="{{ member.id }}"> {{ member }}</li>
                                              <!--            <a href="#" class="list-group-item list-group-item-warning">{{member}}</a>-->
                                        <!--               </li>-->
                                                         {% endfor %}
                                                        </ul>
                                        <!--          </select>-->
                                                        <br>
                                                        <button type="button" class="btn btn-primary btn-md" onclick="deleteMembers()">Delete Members</button>
                                                            </div></div></li>



                                                </ul>

                                                <div class="lodmore">
                                                    {#                                                    set action of this button to refresh page or select fetchAll#}
                                                    <button onclick="#" class="btn-view btn-load-more"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                            </div><!-- centerl meta -->
<!--                             <div class="col-lg-3">-->
<!--&lt;!&ndash;                                 <div class="col-lg-3">&ndash;&gt;-->
<!--                                <aside class="sidebar static">-->

<!--                                    {#                                    checkboxes for categories#}-->
<!--                                    <div class="widget">-->
<!--                                        <h4 class="widget-title">Categories</h4>-->
<!--                                        <ul class="followers">-->
<!--                                            <li>-->
<!--                                                <div class="friend-meta">-->
<!--                                                    <h4><input type="radio" id=food_sel" name="category" value="food" checked onclick="window.location.href='/'"> Food</h4>-->
<!--                                                </div>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <div class="friend-meta">-->
<!--                                                    <h4><input type="radio" id="travel_sel" name="category" value="travel"  onclick="window.location.href='travel'"> Travel</h4>-->
<!--                                                </div>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <div class="friend-meta">-->
<!--                                                    <h4><input type="radio" id="shopping_sel" name="category" value="shopping"  onclick="window.location.href='shopping'" > Shopping</h4>-->
<!--                                                </div>-->
<!--                                            </li>-->

<!--                                            <li>-->
<!--                                                <div class="friend-meta">-->
<!--                                                    <h4><input type="radio" id="event_sel" name="category" value="event"  onclick="window.location.href='event'" > Event</h4>-->
<!--                                                </div>-->
<!--                                            </li>-->

<!--                                            <li>-->
<!--                                                <div class="friend-meta">-->
<!--                                                    <h4><input type="radio" id="other_sel" name="category" value="other"  onclick="window.location.href='other'" > Other</h4>-->
<!--                                                </div>-->
<!--                                            </li>-->
<!--                                        </ul>-->

<!--                                <br><br>-->

<!--                                    <div class="widget friend-list stick-widget">-->
<!--                                        <div id="category"></div>-->
<!--                                    </div>-->
<!--                                    <div class="widget friend-list stick-widget">-->
<!--                                        <div id="time"></div>-->
<!--                                    </div>-->
<!--                                    <div class="widget friend-list stick-widget">-->
<!--                                        <div id="people"></div>-->
<!--                                    </div>-->
<!--                                    </div>-->
<!--                                    </aside>-->
<!--                            </div>&lt;!&ndash; sidebar &ndash;&gt;-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

<script>
function deleteMembers() {
    var el = document.getElementById("checkbox");
    var members = el.getElementsByTagName("input");
    console.log(members);
    var len = members.length;
    for (var i = 0; i < len; i++) {
        if (members[i].type === 'checkbox' && members[i].checked) {
            window.location.href = '/groups/remove_member/' + {{ g_id }} + '/' + members[i].id;
        }
    }
}
</script>

{% endblock %}