{% extends "chat/base.html" %}
{% load static %}

{% block title %}Service-Chat Window{% endblock %}
{% block header_text %}Services{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<div id="list">
    <ul class="services" style="padding: 40px; width:100%">
        {% for service in services %}
            <li class="service-link" style="display:inline; background: #cce5ff; padding: 5px; margin: 5px" data-service-id="{{ service.id }}">
                {{ service }} &nbsp &nbsp &nbsp &nbsp <span class="badge badge-pill badge-warning">Created by: {{ service.initiator }}</span>
                &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                <span class="badge badge-pill badge-dark">{{ service.category }}</span>
            </li><br><br>
        {% endfor %}
        {% for service in other_serv %}
           <li class="service-link" style="display:inline; background: #ffe5e5; padding: 5px; margin: 5px;" data-service-id="{{ service.id }}">
                {{ service }}&nbsp &nbsp &nbsp &nbsp <span class="badge badge-pill badge-warning">Created by: {{ service.initiator }}</span>
                &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                <span class="badge badge-pill badge-dark">{{ service.category }}</span>
            </li><br><br>
        {% empty %}
<!--            <p class="empty">No chat services defined. Maybe make some in the <a href="{% url 'admin:index' %}">admin</a>?</p>-->
        {% endfor %}
    </ul>
    </div>
    <a style="font-size:50px; margin-left: 500px;" href="/"><i class='fa fa-home'></i></a>

    <div id="chats">
    </div>

<!--    <div class="peoples-mesg-box">-->
<!--&lt;!&ndash;        <div class="conversation-head">&ndash;&gt;-->
<!--&lt;!&ndash;            <figure><img src="images/resources/friend-avatar.jpg" alt=""></figure>&ndash;&gt;-->
<!--&lt;!&ndash;            <span>Chat with {{ friend_name_json|slice:"1:-1" }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <ul class="chatting-area">-->
<!--        </ul>-->
<!--        <div class="message-text-container">-->
<!--            <form onsubmit="return false;">-->
<!--                <textarea id="chat-message-input"></textarea>-->
<!--                <em id="typing"></em>-->
<!--                <button title="send" id="chat-message-submit"><i class="fa fa-paper-plane"></i></button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->

{% endblock %}


{% block extra_body %}
    <script>


        $(function () {
            // Correctly decide between ws:// and wss://
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var ws_path = ws_scheme + '://' + window.location.host + "/chat/stream/";
            console.log("Connecting to " + ws_path);
            var socket = new ReconnectingWebSocket(ws_path);
            console.log(socket);

            // Handle incoming messages
            socket.onmessage = function (message) {
                // Decode the JSON
                console.log(message);
                console.log("Got websocket message " + message.data);
                var data = JSON.parse(message.data);
                // Handle errors
                if (data.error) {
                    alert(data.error);
                    return;
                }
                // Handle joining
                if (data.join) {
                    console.log("Joining service " + data.join);
                    console.log(data);
                    var servicediv = $(
                            "<div class='service' id='service-" + data.join + "'>" +
                            "<h2>" + data.description + "</h2>" +
                            "<div class='messages'></div>" +
                            "<form><input placeholder='  Type here    .....'><button ><i class='fa fa-paper-plane'></i></button></form>" +
                            "</div>"
                    );
                    // Hook up send button to send a message
                    servicediv.find("form").on("submit", function () {
                        socket.send(JSON.stringify({
                            "command": "send",
                            "service": data.join,
                            "message": servicediv.find("input").val()
                        }));
                        servicediv.find("input").val("");
                        return false;
                    });
                    $("#chats").append(servicediv);
                    $("#list").html("");
                    // Handle leaving
                } else if (data.leave) {
                    console.log("Leaving service " + data.leave);
                    $("#service-" + data.leave).remove();
                    // Handle getting a message
                } else if (data.message || data.msg_type != 0) {
                    var msgdiv = $("#service-" + data.service + " .messages");
                    var ok_msg = "";
                    // msg types are defined in chat/settings.py
                    // Only for demo purposes is hardcoded, in production scenarios, consider call a service.
                    switch (data.msg_type) {
                        case 0:
                            // Message
                            if (data.login_user == data.username) {
                            ok_msg = "<div class='chat-message-me sb1'>" +
                                    //"<span class='username'>" + data.username + "</span><br>" +
                                    "<span class='body'>" + data.message + "</span><br>" +
                                    // "&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp " +
                                    "<span class='date'>" + data.timestamp + "</span>" +
                                    "</div><br>";

                            //ok_msg = "<li style=' direction: rtl; text-align: right;'>"+
                            //    "<figure><img src='images/resources/userlist-1.jpg' alt=''></figure>" +
                            //    "<p style='margin-left: 0; margin-right: 10px; text-align: left; direction: ltr;'>" + data.message + "</p></li>";
                            }
                            else {
                            ok_msg = "<div class='chat-message-other sb2'>" +
                                    "<span class='username'>" + data.username + ":</span><br>" +
                                    "<span class='body'>" + data.message + "</span><br>" +
                                    "<span class='date'>" + data.timestamp + "</span>" +
                                    "</div><br>";
                            }
                            break;
                        case 1:
                            // Warning / Advice messages
                            ok_msg = "<div class='contextual-message text-warning'>" + data.message +
                                    "</div>";
                            break;
                        case 2:
                            // Alert / Danger messages
                            ok_msg = "<div class='contextual-message text-danger'>" + data.message +
                                    "</div>";
                            break;
                        case 3:
                            // "Muted" messages
                            ok_msg = "<div class='contextual-message text-muted'>" + data.message +
                                    "</div>";
                            break;
                        case 4:
                            // User joined service
                            ok_msg = "<div class='contextual-message text-muted'>" + data.username +
                                    " joined the service!" +
                                    "</div>";
                            break;
                        case 5:
                            // User left service
                            ok_msg = "<div class='contextual-message text-muted'>" + data.username +
                                    " left the service!" +
                                    "</div>";
                            break;
                        default:
                            console.log("Unsupported message type!");
                            return;
                    }
                    msgdiv.append(ok_msg);

                    msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
                } else {
                    console.log("Cannot handle message!");
                }
            };

            // Says if we joined a service or not by if there's a div for it
            inservice = function (serviceId) {
                return $("#service-" + serviceId).length > 0;
            };

            // service join/leave
            $("li.service-link").click(function () {
                serviceId = $(this).attr("data-service-id");
                if (inservice(serviceId)) {
                    // Leave service
                    $(this).removeClass("joined");
                    socket.send(JSON.stringify({
                        "command": "leave",
                        "service": serviceId
                    }));
                } else {
                    // Join service
                    $(this).addClass("joined");
                    socket.send(JSON.stringify({
                        "command": "join",
                        "service": serviceId
                    }));
                }
            });

            // Helpful debugging
            socket.onopen = function () {
                console.log("Connected to chat socket");
            };
            socket.onclose = function () {
                console.log("Disconnected from chat socket");
            }
        });
    </script>
{% endblock %}












