{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% csrf_token %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
    function fetchServices()

    {
        const foodinstance = axios.create({
                baseURL: '{% url 'groups:home' %}',
                timeout: 1000,
            });
        const shoppinginstance = axios.create({
                baseURL: '{% url 'groups:home' %}',
                timeout: 1000,
            });
        const travelinstance = axios.create({
                baseURL: '{% url 'groups:home' %}',
                timeout: 1000,
            });



    }

{#javascript for main loader function#}

{#    {% for post in posts %}#}
{#                                        <div class="central-meta item">#}
{#                                            <div class="user-post">#}
{#                                                <div class="friend-info">#}
{#                                                    <figure>#}
{#                                                        {% if post.user.profile.profile_image.url %}#}
{#                                                            <img src="{{ post.user.profile.profile_image.url }}" alt="">#}
{#                                                        {% else %}#}
{#                                                            <img src="{% static 'images/default.jpg' %}" alt="">#}
{#                                                        {% endif %}#}
{#                                                    </figure>#}
{#                                                    <div class="friend-name">#}
{#                                                        <ins><a href="{% url 'profile:user-timeline' post.user.username %}" title="">{{ post.user.username }}</a></ins>#}
{#                                                        <span>published: {{ post.created_at|timesince }} ago</span>#}
{#                                                    </div>#}
{#                                                    <div class="post-meta">#}
{#                                                        <img src="images/resources/user-post.jpg" alt="">#}
{#                                                        <div class="we-video-info">#}
{#                                                            <ul>#}
{#                                                                <li>#}
{#                                                                    <span class="comment" data-toggle="tooltip" title="Comments">#}
{#                                                                        <i class="fa fa-comments-o"></i>#}
{#                                                                        <ins>{{ post.comments.count }}</ins>#}
{#                                                                    </span>#}
{#                                                                </li>#}
{#                                                                <li>#}
{#                                                                    <span class="like" data-toggle="tooltip" title="like">#}
{#                                                                        <i class="ti-heart"></i>#}
{#                                                                        <ins>2.2k</ins>#}
{#                                                                    </span>#}
{#                                                                </li>#}
{#                                                                <li>#}
{#                                                                    <span class="dislike" data-toggle="tooltip" title="dislike">#}
{#                                                                        <i class="ti-heart-broken"></i>#}
{#                                                                        <ins>200</ins>#}
{#                                                                    </span>#}
{#                                                                </li>#}
{#                                                                <li class="social-media">#}
{#                                                                    <div class="menu">#}
{#                                                                        <div class="btn trigger"><i class="fa fa-share-alt"></i></div>#}
{#                                                                        <div class="rotater">#}
{#                                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-html5"></i></a></div>#}
{#                                                                        </div>#}
{#                                                                        <div class="rotater">#}
{#                                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-facebook"></i></a></div>#}
{#                                                                        </div>#}
{#                                                                        <div class="rotater">#}
{#                                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-google-plus"></i></a></div>#}
{#                                                                        </div>#}
{#                                                                        <div class="rotater">#}
{#                                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-twitter"></i></a></div>#}
{#                                                                        </div>#}
{#                                                                        <div class="rotater">#}
{#                                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-css3"></i></a></div>#}
{#                                                                        </div>#}
{#                                                                        <div class="rotater">#}
{#                                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-instagram"></i></a>#}
{#                                                                            </div>#}
{#                                                                        </div>#}
{#                                                                        <div class="rotater">#}
{#                                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-dribbble"></i></a>#}
{#                                                                            </div>#}
{#                                                                        </div>#}
{#                                                                        <div class="rotater">#}
{#                                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-pinterest"></i></a>#}
{#                                                                            </div>#}
{#                                                                        </div>#}
{##}
{#                                                                    </div>#}
{#                                                                </li>#}
{#                                                            </ul>#}
{#                                                        </div>#}
{#                                                        <div class="description">#}
{#                                                            <p>{{ post.body }}</p>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                <div class="coment-area">#}
{#                                                    <ul class="we-comet">#}
{#                                                        {% for comment in post.comments.all %}#}
{#                                                            <li>#}
{#                                                                <div class="comet-avatar">#}
{#                                                                    {% if comment.user.profile.profile_image.url %}#}
{#                                                                        <img src="{{ comment.user.profile.profile_image.url }}" alt="">#}
{#                                                                    {% else %}#}
{#                                                                        <img src="{% static 'images/default.jpg' %}" alt="">#}
{#                                                                    {% endif %}#}
{#                                                                </div>#}
{#                                                                <div class="we-comment">#}
{#                                                                    <div class="coment-head">#}
{#                                                                        <h5><a href="#" title="">{{ comment.user.username }}</a></h5>#}
{#                                                                        <span>{{ comment.created_at|timesince }} ago</span>#}
{#                                                                        <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>#}
{#                                                                    </div>#}
{#                                                                    <p>{{ comment.content }}</p>#}
{#                                                                </div>#}
{#                                                            </li>#}
{#                                                        {% endfor %}#}
{#                                                        <li class="post-comment">#}
{#                                                            <div class="comet-avatar">#}
{#                                                                <img src="{{ request.user.profile.profile_image.url }}" alt="">#}
{#                                                            </div>#}
{#                                                            <div class="post-comt-box">#}
{#                                                                <form method="post" id="comment-form" action="{% url 'newsfeed:comment-create' post.id %}">#}
{#                                                                    {% csrf_token %}#}
{#                                                                    <input placeholder="Post your comment" name="content">#}
{#                                                                </form>#}
{#                                                            </div>#}
{#                                                        </li>#}
{#                                                    </ul>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% endfor %}#}


    </script>


    <section>
        <div class="gap gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" id="page-contents">
                            {% include 'includes/sidebar.html' %}
                            <div class="col-lg-6">
                                <div class="central-meta">


{#                                    ENTER HERE#}
                                    <div class="frnds">
                                        <ul class="nav nav-tabs">
{#                                            <h5 class="f-title"><i class="ti-user"></i>Interesting Activities </h5>#}
                                            <li class="nav-item"><a class="active" href="#frends" data-toggle="tab">Interesting Activities</a></li>
                                        </ul>

                                        <div class="tab-content">
                                            <div class="tab-pane active fade show ">
                                                <ul class="nearby-contct"  id="service_list">
{#                                                        insert here?#}
                                                    <li>
                                                        <div class="nearly-pepls">
{#                                                            <figure>#}
{#                                                                <a href="#" title=""><img src="{% static 'images/fav.png' %}" alt=""></a>#}
{#                                                            </figure>#}
                                                            <div class="pepl-info">
                                                                <h4><a href="#" title="">Food Service</a></h4>
                                                                <a href="#" title=""><h5>Domino's Pizza</h5></a>
                                                                <p> by initiator </p>
                                                                <h4><p>Start Time: <br>
                                                                End Time: </p> </h4>
                                                                <span>A very long line of text which will be equivalent to the description of the thing that I want to show</span>
{#                                                                here add the url to join a service, assumption a request will be sent#}
                                                                <a href="#" title="" data-url="{% url 'pool:home' %}" class="add-butn add-friend" data-ripple="">Join Service</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>

                                                <div class="lodmore">
{#                                                    set action of this button to refresh page or select fetchAll#}
                                                    <button class="btn-view btn-load-more"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div><!-- centerl meta -->
                            <div class="col-lg-3">
                                <aside class="sidebar static">

{#                                    checkboxes for categories#}
                                    <div class="widget">
                                        <h4 class="widget-title">Categories</h4>
                                        <ul class="followers">
                                            <li>
                                                <div class="friend-meta">
                                                    <h4><input type="radio" id=food_sel" name="category" value="Food" checked> Food</h4>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="friend-meta">
                                                    <h4><input type="radio" id="travel_sel" name="category" value="Travel" checked> Travel</h4>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="friend-meta">
                                                    <h4><input type="radio" id="shopping_sel" name="category" value="Shopping" checked> Shopping</h4>
                                                </div>
                                            </li>
                                        </ul>
                                    </div><!-- who's following -->


                                    <div class="widget">
                                        <h4 class="widget-title">Groups</h4>
                                        <ul id="group-list" class="followers">
                                            {% for group in groups %}
                                            <li>
                                                <div class="friend-meta">
                                                   <h4> <input checked id="{{ group.id }}"
                                                               name="{{ group.name }}" type="checkbox"> {{ group.name }} </h4>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div><!-- friends list sidebar -->

                                </aside>
                            </div><!-- sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}